.search {
    .container {
        position: absolute;
        z-index: 1000;  
        transform: translateY(-50%);
        background-color: white;
        margin-left: 20%;
        border-radius: 10px;
        box-shadow: #4a4a4a;
        .row {
            .dropdown {
                border: none;
                option {
                    color: black;
                    text-decoration: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &:hover {
                        text-decoration: none;
                    }
                }
                ::after {
                    content: '';
                    border-right: 2px solid #4a4a4a;
                    margin-right: 10px;
                }
                &:focus {
                    outline: none;
                }
                
            }
            .btnAccept {
                margin: 30px 0;
                a {
                   background: #4a4a4a;
                   padding: 15px 25px;
                   color: white;
                   border-radius: 5px;
                }
                button {
                   border: none;
                }
            }
        }
    }
}

@media screen and (max-width:1600px){
    .search {
        .container {
            margin: 0 10%; 
        }
    }
}

@media screen and (max-width:1460px){
    .search {
        .container {
            margin: 0 5%;
        }
    }
}

@media screen and (max-width:1250px){
    .search {
        opacity: 0;
    }
}